:host {
  display: block;

}

.background {
  position: absolute;
  z-index: -1;
  background: #5B92E5;
  height: 300px;
  top: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  background: white;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 24px;
  margin-top: 50px;
}

pre {
  overflow: auto;
}

.loader {
  padding: 32px;
}

.encription {
  margin-top: 32px;

  mat-form-field {
    display: block;
  }
}