<label class="file-container mat-elevation-z2">
  <file-drop customstyle="box--" (onFileDrop)="dropped($event)">
  <div class="file-icon mat-elevation-z4">
    <mat-icon>backup</mat-icon>
  </div>
  <h2 class="mat-h2">
    <ng-container *ngIf="fileName">{{fileName}}</ng-container>
    <ng-container *ngIf="!fileName">Drag your file here</ng-container>
  </h2>
  <span>file will only be used for hashing
    and will not be stored locally</span>
  </file-drop>
  <input type="file" #fileInput (click)="fileInput.value = null" id="file-input" (change)="fileSelected($event)" />
</label>
