
file-drop {
  display: block;
  width: 100%;
}

:host::ng-deep {
  file-drop {

    .content,
    #dropZone {
      height: 100% !important;
    }
    .content {
      display: block;
      color: white;
    }
  }
}


.file-container {
  background: #0095fb;
  color: white;
  padding: 32px;
  text-align: center;
  position: relative;
  margin-top: 32px;
  display: block;
  cursor: pointer;

  .file-icon {
    text-align: center;
    background: white;
    padding: 16px;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    top: 0;
    color: #0095fb;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    margin-top: -28px;
    margin-left: -28px;
  }

  input {
    display: none;
  }

}